Node-Red
[
    {
        "id": "e97ef2ceeb83e72b",
        "type": "tab",
        "label": "Jogo da Velha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d317ab566f08b583",
        "type": "group",
        "z": "e97ef2ceeb83e72b",
        "name": "Simulação",
        "style": {
            "label": true
        },
        "nodes": [
            "b220c8d6e0fe253e",
            "3bf627ddc7648baf",
            "fc1f4c417377966d",
            "3f44d684753c27c5",
            "87ba0ed48b06b26c",
            "86b3ddf54ec2dd84"
        ],
        "x": 34,
        "y": 79,
        "w": 172,
        "h": 282
    },
    {
        "id": "b377e10ffd1aa252",
        "type": "group",
        "z": "e97ef2ceeb83e72b",
        "name": "Tabuleiro",
        "style": {
            "label": true
        },
        "nodes": [
            "9b8de384448259a2",
            "6a724f1c201cc7d5",
            "546f9bc6bb9df651",
            "b2941fc56bf6d2ec",
            "96bf8c278207b409",
            "b4ca449c2d7646bc",
            "7df013bcc9f8c82a",
            "97b4b2d8386f9b92",
            "09bf97db173416a2",
            "4e617dfd1203c0e1",
            "49331a1829cdde46",
            "f0446ada430ead04",
            "dde16aeec0b55a16",
            "ccd75a7c5ca49389",
            "32f5cf86d2eac755",
            "3d188c1e2fbde862",
            "7cc6240b541b2f74",
            "eeef39e026c65545",
            "9455d284baa1e9e3",
            "f8f7035b2a5a21f3",
            "4ca31e99c3fdcab1",
            "8e345d71a20815ba",
            "2d6e6797dc96bb6f",
            "e1dcc861c2d39d01",
            "f5a8797956f2aaae",
            "54bab246baeb691c",
            "458e6649c6f7d7e1",
            "ba1b08463389d73f"
        ],
        "x": 234,
        "y": 79,
        "w": 752,
        "h": 402
    },
    {
        "id": "3d6c7d7763913aa6",
        "type": "group",
        "z": "e97ef2ceeb83e72b",
        "name": "Legenda",
        "style": {
            "label": true
        },
        "nodes": [
            "837382b51889b7f0",
            "2ccb170b7dfed9be"
        ],
        "x": 34,
        "y": 379,
        "w": 172,
        "h": 122
    },
    {
        "id": "32a5cd4378040a71",
        "type": "group",
        "z": "e97ef2ceeb83e72b",
        "name": "Jogada",
        "style": {
            "label": true
        },
        "nodes": [
            "81de9ad86cb8f221",
            "2c746aa7031e2823",
            "714d6a973f5ca262"
        ],
        "x": 254,
        "y": 499,
        "w": 532,
        "h": 82
    },
    {
        "id": "b220c8d6e0fe253e",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"000000000\"}",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "ceb1f4052d8b4bf0",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "9b8de384448259a2",
        "type": "json",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ceb1f4052d8b4bf0",
                "546f9bc6bb9df651",
                "96bf8c278207b409",
                "b4ca449c2d7646bc",
                "7df013bcc9f8c82a",
                "97b4b2d8386f9b92",
                "09bf97db173416a2",
                "4e617dfd1203c0e1",
                "49331a1829cdde46",
                "f0446ada430ead04"
            ]
        ]
    },
    {
        "id": "3bf627ddc7648baf",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"111111111\"}",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "fc1f4c417377966d",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"222222222\"}",
        "payloadType": "str",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "3f44d684753c27c5",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"101010101\"}",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "87ba0ed48b06b26c",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"002020202\"}",
        "payloadType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "86b3ddf54ec2dd84",
        "type": "inject",
        "z": "e97ef2ceeb83e72b",
        "g": "d317ab566f08b583",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Tabuleiro\": \"201010202\"}",
        "payloadType": "str",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "9b8de384448259a2"
            ]
        ]
    },
    {
        "id": "6a724f1c201cc7d5",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 1,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "0",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "546f9bc6bb9df651",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 1",
        "func": "msg.payload = msg.payload.Tabuleiro[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "6a724f1c201cc7d5",
                "b2941fc56bf6d2ec"
            ]
        ]
    },
    {
        "id": "b2941fc56bf6d2ec",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "96bf8c278207b409",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 2",
        "func": "msg.payload = msg.payload.Tabuleiro[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "dde16aeec0b55a16",
                "4ca31e99c3fdcab1"
            ]
        ]
    },
    {
        "id": "b4ca449c2d7646bc",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 3",
        "func": "msg.payload = msg.payload.Tabuleiro[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ccd75a7c5ca49389",
                "8e345d71a20815ba"
            ]
        ]
    },
    {
        "id": "7df013bcc9f8c82a",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 4",
        "func": "msg.payload = msg.payload.Tabuleiro[3];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "32f5cf86d2eac755",
                "2d6e6797dc96bb6f"
            ]
        ]
    },
    {
        "id": "97b4b2d8386f9b92",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 5",
        "func": "msg.payload = msg.payload.Tabuleiro[4];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "3d188c1e2fbde862",
                "e1dcc861c2d39d01"
            ]
        ]
    },
    {
        "id": "09bf97db173416a2",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 6",
        "func": "msg.payload = msg.payload.Tabuleiro[5];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "7cc6240b541b2f74",
                "f5a8797956f2aaae"
            ]
        ]
    },
    {
        "id": "4e617dfd1203c0e1",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 7",
        "func": "msg.payload = msg.payload.Tabuleiro[6];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "eeef39e026c65545",
                "54bab246baeb691c"
            ]
        ]
    },
    {
        "id": "49331a1829cdde46",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 8",
        "func": "msg.payload = msg.payload.Tabuleiro[7];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "9455d284baa1e9e3",
                "458e6649c6f7d7e1"
            ]
        ]
    },
    {
        "id": "f0446ada430ead04",
        "type": "function",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "function 9",
        "func": "msg.payload = msg.payload.Tabuleiro[8];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "f8f7035b2a5a21f3",
                "ba1b08463389d73f"
            ]
        ]
    },
    {
        "id": "dde16aeec0b55a16",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 2,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "1",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "ccd75a7c5ca49389",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 3,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "2",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "32f5cf86d2eac755",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 4,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "3",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "3d188c1e2fbde862",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 5,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "4",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "7cc6240b541b2f74",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 6,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "5",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "eeef39e026c65545",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 7,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "6",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "9455d284baa1e9e3",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 8,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "7",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8f7035b2a5a21f3",
        "type": "ui_led",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "order": 9,
        "group": "1a1571bee7bbab43",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "8",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "4ca31e99c3fdcab1",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e345d71a20815ba",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d6e6797dc96bb6f",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "e1dcc861c2d39d01",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "f5a8797956f2aaae",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "54bab246baeb691c",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "458e6649c6f7d7e1",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba1b08463389d73f",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "g": "b377e10ffd1aa252",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "837382b51889b7f0",
        "type": "ui_button",
        "z": "e97ef2ceeb83e72b",
        "g": "3d6c7d7763913aa6",
        "name": "",
        "group": "813906f554d6fd60",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jogador 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccb170b7dfed9be",
        "type": "ui_button",
        "z": "e97ef2ceeb83e72b",
        "g": "3d6c7d7763913aa6",
        "name": "",
        "group": "813906f554d6fd60",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jogador 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "81de9ad86cb8f221",
        "type": "ui_text_input",
        "z": "e97ef2ceeb83e72b",
        "g": "32a5cd4378040a71",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "02639f5bb0586bbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "714d6a973f5ca262",
                "aec3ec0eddbb7e61"
            ]
        ]
    },
    {
        "id": "2c746aa7031e2823",
        "type": "ui_button",
        "z": "e97ef2ceeb83e72b",
        "g": "32a5cd4378040a71",
        "name": "",
        "group": "02639f5bb0586bbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Jogada",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "e27bd118b6d59942"
            ]
        ]
    },
    {
        "id": "e27bd118b6d59942",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "714d6a973f5ca262",
        "type": "change",
        "z": "e97ef2ceeb83e72b",
        "g": "32a5cd4378040a71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Jogada",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "2c746aa7031e2823"
            ]
        ]
    },
    {
        "id": "aec3ec0eddbb7e61",
        "type": "debug",
        "z": "e97ef2ceeb83e72b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 600,
        "wires": []
    },
    {
        "id": "1a1571bee7bbab43",
        "type": "ui_group",
        "name": "Tabuleiro",
        "tab": "4adb80a623bcf291",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "813906f554d6fd60",
        "type": "ui_group",
        "name": "Legenda",
        "tab": "4adb80a623bcf291",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "02639f5bb0586bbf",
        "type": "ui_group",
        "name": "Jogada",
        "tab": "4adb80a623bcf291",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4adb80a623bcf291",
        "type": "ui_tab",
        "name": "Jogo da Velha",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
